<div id="c">     
    <h4>REGISTRATION FORM</h4><br>
    <form>
        <fieldset>
            <div class="form-group">
                <label for="name">Full Name: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="name" name="name" placeholder="enter your name" ngModel formcontrolName="name">
            </div>
            <br>
            <div class="form-group">
                <label for="birthday">Date of Birth: &nbsp;</label>&nbsp;
                <input type="date" id="birthday" name="birthday" placeholder="DOB" ngModel formControlName="date">
            </div>
            <br />
            <div class="form-group">

                <label for="Email id">Email id: &nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="Emailid" name="Emailid" placeholder="Emailid" ngModel formControlName="Emailid">
            </div>
            <br />
            <div class="form-group">
                <label for="mobile no">Ph Number: &nbsp;</label>&nbsp;&nbsp;
                <input type="Number" id="Number" name="Number" placeholder="number" pattern="\d{10}" required ngModel
                    formcontrolName="mobile no">
            </div>
            <br />
            <div class="form-group">

                <label for="username">UserName:&nbsp; </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="username" name="username" placeholder=" user name" ngModel
                    formcontrolName="username">
            </div>
            <br />
            <div class="form-group">

                <label for="password">Password: &nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="password" id="password" name="password" placeholder=" password" ngModel
                    formcontrolName="password">
            </div>
            <br />
            <div class="form-group">
                <label for="confirm password">confirm password:&nbsp; </label>
                <input type="confirm password" id="confirm password" name="confirm password"
                    placeholder=" confirm password" ngModel formcontrolName="confirm password">
            </div>
            <br />
            <div class="form-group">
                <label for="Address">Address:&nbsp; </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="Address" id="Address" name="Address" placeholder="enter your Address" ngModel
                    formControlName="Address">
            </div>
            <br />
            <div class="form-group">
                <label for="Card Type">Card Type:&nbsp; </label>&nbsp;&nbsp;
                <input Type="radio" id="Gold" name="Card Type" value="Gold" formControlName="Card Type">
                <label for="Card Type">Gold</label>&nbsp;&nbsp;
                <input Type="radio" id="Titanium" name="Card Type" value="Titanium" formControlName="Card Type">
                <label for="Card Type">Titanium</label>

            </div>
            <br />
            <div class="form-group">
                <label for="Bank Name">Bank Name:&nbsp; </label>&nbsp;&nbsp;
                <input Type="Bank Name" id="Bank Name" name="Bank Name" placeholder="Bank Name" ngModel
                    formControlName="Bank Name">
            </div>
            <br />
            <div class="form-group">
                <label for=" Account No"> Account No: &nbsp;</label>&nbsp;&nbsp;
                <input Type=" Account No" id=" Account No" name=" Account No" placeholder="Account No " ngModel
                    formControlName="Account No">
            </div>
            <br />
            <div class="form-group">
                <label for="IFSC code">IFSC code:&nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input Type="IFSC code" id="IFSC code" name="IFSC code" placeholder="IFSC code" ngModel
                    formControlName="IFSC code">
            </div>
            <br />
            <div>
                <button type="REGISTER"
                    routerLink="/login">REGISTER</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <br />
        </fieldset>
    </form>
</div>