#submitDiv {
    text-align: center;
  }
  #c{
    text-align: center;
    border: 1px solid black;
    margin: 20px;
    padding: 50px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(236, 234, 234);
  
  }
  button{
    background-color: rgb(99, 96, 96);
    color: white;
}