#p1{
    border: 3px solid black;
    overflow: 100%;
    margin: auto;
    width: auto;

}

#p3{
    text-align: center;
}
#nav{
    overflow: auto;
}

#p{
    float: right;
    width: auto;
    overflow: auto;
}
#crc{
    border: 3px solid black;
    margin: 70px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(230, 228, 228);
    background-image: url("https://av.sc.com/in/content/images/in-digital-serving-bg.jpg");
    background-size: cover;
    

}
#p2{
    text-align: center;
    color: white;

}
#page1{
    text-align: center;
}
#p3{
    border: 3px dotted rgb(196, 194, 194);
    color: white;
}
button{
    color: white;
    background-color: rgb(102, 101, 101);
}
li{
    text-align: center;
}
#p4{
    background-image: url("https://av.sc.com/in/content/images/in-service-handling-fee-help-revamp.jpg");
}