<div id="nav">
    <ul id="p1">
        <button routerLink="/products">Products</button>
    </ul>
    <ul id="p2">  
        <button routerLink="/logout">Logout</button>  
    </ul>  
</div>
<div class="box2">
    <h2 style="text-align: center;color: black;background-color:rgb(194, 191, 191)">DashBoard</h2>
    <div class="box">
        <label class="name"><b>CARD NUMBER:&nbsp;</b></label>
        <input class="padding_textbox" type="text" placeholder="Card Number" name="Name" required><br><br>
        <label for="name"><b>Name:&nbsp;</b></label>
        <input class="padding_textbox" type="text" placeholder="Enter Name" name="Name" required><br><br>
        <label for="Phone number"><b>Valid Till:&nbsp;</b></label>
        <select name="months" id="months">
            <option value="Jan">Jan</option>
            <option value="Feb">Feb</option>
            <option value="Mar">Mar</option>
            <option value="Apr">Apr</option>
            <option value="May">May</option>
            <option value="Jun">Jun</option>
            <option value="Jul">Jul</option>
            <option value="Aug">Aug</option>
            <option value="Sep">Sep</option>
            <option value="Oct">Oct</option>
            <option value="Nov">Nov</option>
            <option value="Dec">Dec</option>
        </select>
        <select name="years" id="years">
            <option value="2025">2020</option>
            <option value="2024">2019</option>
            <option value="2023">2018</option>
            <option value="2022">2017</option>
            <option value="2021">2016</option>
            <option value="2020">2015</option>
        </select><br><br>
        <label for="Card Type"><b>CardtType:&nbsp;</b></label>
        <input type="radio" id="gold" name="type" value="Gold">
        <label for="html">GOLD &nbsp;</label>
        <input type="radio" id="titanium" name="type" value="Titanium">
        <label for="html">Titanium</label><br>
        <h4 class="box1">ACTIVATED</h4>
    </div>
    <div style="padding:10px">
        <p>TOTAL CREDIT:40,000</p>
        <P>CREDIT USED:35,000</P>
        <P>REMAINING CREDIT:5000</P>
    </div>
    <div style="text-align:center">

        <P>PRODUCTS PURCHASED</P>
        <P>AMOUNT:35,000</P>
    </div>
    <div style="padding:10px">
        <P>PRODUCT NAME:DellXp</P>
        <P>PAID:35,000</P>
        <P>BALANCE:5,000</P>
    </div>
    <div style="padding:20px">
        <p>RECENT TRANSACTIONS</p>
    </div>
    <div>
        <table style="margin-left: auto; margin-right: auto;">
            <tr>
                <th>PRODUCT</th>
                <th>DATE</th>
                <th>AMOUNT PAID</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>

        </table>
    </div>
</div>


