<div id="c">     
    <h4>REGISTRATION FORM</h4><br>
    <form  #post="ngForm" [formGroup]="RegisterationForm" (ngSubmit)="SubmitData(post.value)">
          <div class="form-group">
                <label for="fullName">fullName: </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="name" name="name" placeholder="enter your name" ngModel formControlName="fullName">
            </div>
            <div class="form-group">
                <label for="phoneNumber">PhoneNumber: &nbsp;</label>&nbsp;&nbsp;
                <input type="number" id="phoneNumber" name="phoneNumber" placeholder="phoneNumber" pattern="\d{10}" required ngModel
                    formControlName="phoneNumber">
            </div>
            <br>
            <div class="form-group">
                <label for="dob">dob: &nbsp;</label>&nbsp;
                <input type="date" id="birthday" name="birthday" placeholder="DOB" ngModel formControlName="dob">
            </div>
            <br />
            <div class="form-group">

                <label for="Email id">Email id: &nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="Emailid" name="Emailid" placeholder="Emailid" ngModel formControlName="email">
            </div>
            <br />
            
            <br />
            <div class="form-group">

                <label for="username">UserName:&nbsp; </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" id="username" name="username" placeholder=" user name" ngModel
                    formControlName="userName">
            </div>
            <br />
            <div class="form-group">

                <label for="password">accPassword: &nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="password" id="password" name="password" placeholder=" password" ngModel
                    formControlName="accPassword">
            </div>
            <br />
            <div class="form-group">
                <label for="confirm password">confirmPassword:&nbsp; </label>
                <input type="confirm password" id="confirm password" name="confirm password"
                    placeholder=" confirm password" ngModel formControlName="confirmPassword">
            </div>
            <br />
            <div class="form-group">
                <label for="Address">homeAddress:&nbsp; </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="Address" id="Address" name="Address" placeholder="enter your Address" ngModel
                    formControlName="homeAddress">
            </div>
            <br />
            <div class="form-group">
                <label for="Card Type">cardType:&nbsp; </label>&nbsp;&nbsp;
                <input Type="radio" id="Gold" name="Card Type" value="Gold" formControlName="cardType">
                <label for="Card Type">Gold</label>&nbsp;&nbsp;
                <input Type="radio" id="Titanium" name="Card Type" value="Titanium" formControlName="cardType">
                <label for="Card Type">Titanium</label>

            </div>
            <br />
            <div class="form-group">
                <label for="Bank Name">bankName:&nbsp; </label>&nbsp;&nbsp;
                <input Type="Bank Name" id="Bank Name" name="Bank Name" placeholder="Bank Name" ngModel
                    formControlName="bankName">
            </div>
            <br />
            <div class="form-group">
                <label for=" Account No"> account No: &nbsp;</label>&nbsp;&nbsp;
                <input type="number" id=" Account No" name=" Account No" placeholder="Account No " ngModel
                    formControlName="accountNumber">
            </div>
            <br />
            <div class="form-group">
                <label for="ifscCode">ifscCode:&nbsp;</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input Type="IFSC code" id="IFSC code" name="IFSC code" placeholder="IFSC code" ngModel
                    formControlName="ifscCode">
            </div>
            <br />
            <div>
                <button type="REGISTER"
                >REGISTER</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <br />
            
    </form>
</div>
