#c{
    border: 3px solid black;
    text-align: center;
    width: 700px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4lK37yv_LtO72wN3TvPan0fuBVM0i8VzjlZalyUZLgKMjs1GAdfb2F5P_oYNM4SIpsLw&usqp=CAU");
    background-size: cover;
    color: black;    
}
h3{
    color: rgb(51, 50, 50)
}
button{
    background-color: rgb(75, 74, 74);
    color: white;
}