div{
    text-align: center;
    margin: auto;
    padding: auto;
    border: 3px solid black;
    width: 500px;
    margin-top: 70px;
    background-color: rgb(236, 234, 234);

}
button{
    background-color: rgb(99, 96, 96);
    color: white;
}