div{
    text-align: center;
    margin: auto;
    padding: 170px;
    border: 3px solid black;
    width: 700px;
    height: 500px;
    margin-top: 70px;
    background-image: url("https://av.sc.com/in/content/images/in-digital-serving-bg.jpg");
    background-size: cover;
    color: white;
}
button{
    background-color: rgb(99, 96, 96);
    color: white;
}