<div id="p1">
    <div id="page1">
      <img style="width: 150px; height: 150px;"
        src="https://i5.walmartimages.com/asr/483eea15-3313-4481-8a4d-a557229fcd71_1.a42c4a0f7445c4fe50e7acc3cac63c02.jpeg">
        <p>productName:Hp</p>
        <p>price:₹35000</p>
        <p>Not Available</p>
    </div>
    <div id="p3" style="width: 300px;margin-left: 30px;">
      <label for="emi">Emi Period </label><br>
      <select name="emi" id="emi">
        <option value="3Months">3Months</option>
        <option value="6Months">6Months</option>
        <option value="9Months">9Months</option>
        <option value="12Months">12Months</option>
      </select>
      <h6>Emi starting 6000pm</h6>
      <input  type="checkbox" >&nbsp;
      <label>I agree Terms and Condition</label>
      <br>
      <button id="btn" routerLink="/payment">PayNow</button> &nbsp;&nbsp;
      <br>
    </div>
