<div id="p1">
  <div id="page1">
    <img style="width: 150px; height: 150px;"
      src="https://i5.walmartimages.com/asr/a40a3e87-1103-4f4e-be17-5d5f3a194ff7.c71c03a45c9002d01578ef83db8828e4.jpeg">
      <p>productName:Lenovo</p>
      <p>price:₹50,000</p>
      <p>Available</p>
  </div>
  <div id="p3" style="width: 300px;margin-left: 30px;">
    <label for="emi">Emi Period </label><br>
    <select name="emi" id="emi">
      <option value="3Months">3Months</option>
      <option value="6Months">6Months</option>
      <option value="9Months">9Months</option>
      <option value="12Months">12Months</option>
    </select>
    <br>
    <h6>Emi starting 6000pm</h6>
    <input type="checkbox">&nbsp;
    <label>I agree Terms and Condition</label><br><br>
    <button id="btn" routerLink="/payment">PayNow</button> &nbsp;&nbsp;
    <br>
    
  </div>
</div>
