#p1{
    border: 2px solid black;
    overflow: 100%;
    margin: 25px;
    padding: 25px;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("https://av.sc.com/in/content/images/in-digital-serving-bg.jpg");
    background-size: cover; 
    color: white; 

}
#p{
    text-align: center;
}
#p3{
    text-align: center;
    border: 1px dotted;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    height: 200px;
}
button{
    background-color: rgb(75, 74, 74);
    color: white;
}