<div id="p1">
  <div id="page1">
    <img style="width: 300px; height: 200px;"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtmWmcWDeplPUHKnoHTLajBc5ml0aU8khiBw&usqp=CAU">
      <p>productName:Lenovo</p>
      <p>price:₹50,000</p>
      <p>Available</p>
  </div>
  <div id="p3">
    <label for="emi">Emi Period </label><br>
    <select name="emi" id="emi">
      <option value="3Months">3Months</option>
      <option value="6Months">6Months</option>
      <option value="9Months">9Months</option>
      <option value="12Months">12Months</option>
    </select>
    <br>
    <h6>Emi starting 6000pm</h6>
    <input type="checkbox">&nbsp;
    <label>I agree Terms and Condition</label><br><br>
    <button id="btn" routerLink="/payment">PayNow</button> &nbsp;&nbsp;
    
    </div>
    
  </div>

