div{
    text-align: center;
    border: 2px solid black;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
    background-color: rgb(230, 228, 228);
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    color: white;
    background-color: rgb(102, 101, 101);

}